{{ template "header" .}}

{{ define "chapter_head" }}
    <title> {{ .chapter.Name }}-目录</title>
    <link rel="stylesheet" href="assets/css/web/chapter.css">
{{ end }}

<div class="alert alert-warning center-block">
    <p class="close" data-dismiss="alert">
        &times;
    </p>
    <p style="text-align: center">
        <strong>注意！</strong>页面内容来自<a target="_blank" href="{{ .chapter.OriginUrl }}">{{ .chapter.OriginUrl }}</a>，本站不储存任何内容，为了更好的阅读体验进行在线解析，若有广告出现，请及时反馈。若您觉得侵犯了您的利益，请通知我们进行删除，然后访问
        <a href="{{ .chapter.OriginUrl }}">原网页</a>
    </p>
</div>

<div class="container all-chapter">
    <input id="domain" type="hidden" value="{{ .chapter.Domain}}">
    <input id="link_prefix" type="hidden" value="{{ .chapter.LinkPrefix}}">
    <input id="url" type="hidden" value="{{ .chapter.OriginUrl }}">
    <input id="novels_name" type="hidden" value="{{ .chapter.Name }}">
    {{ .chapter.Content  }}
    <div class="move">
        <div class="move_up">
            <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
        </div>
        <div class="move_down">
            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
        </div>
    </div>
</div>

{{ template "footer" . }}
<script src="assets/js/list.js"></script>
