{{ template "header" .}}

{{ define "search_head" }}
    <title> {{ .novelName }}-搜索结果</title>
    <link rel="stylesheet" href="assets/css/web/result.css">
    <style>
        @media (min-width: 1680px) {
            .container {
                margin-left: 3% !important;
            }
        }
    </style>
{{ end }}
{{ $novelName := .novelName }}
{{ template "search_bar" .}}
<div class="container">
    <div class="result row">
        <div class="show-result col-sm-7 col-xs-12">
            <p style="color: #868383;font-size: 13px; ">找到 {{ .count }} 条结果（用时{{ .elapsedTime }}s）</p>
            <div class="list-unstyled item">
                {{ range .list }}
                <div class="result_item col-sm-9 col-xs-12">
                    <li>
                        <a target="_blank" href="/chapter?url={{ .Href }}&novel_name={{ $novelName }}">{{ .Title }}</a>
                        <div class="netloc">
                            <i>{{ .Host }}</i>
                            <i><a target="_blank" href="{{ .Href }}">查看源网址</a></i>
                            {{ if .IsParse }}
                                <span class="label label-primary parse-label">已解析</span>
                            {{ else }}
                                <span class="label label-danger parse-label">未解析</span>
                            {{ end }}
                        </div>
                        <div class="tags">

                        </div>
                    </li>

                </div>
                {{ end }}
            </div>
            <div class="move">
                <div class="move_up">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                </div>
                <div class="move_down">
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "footer" .}}
